@charset "UTF-8";

#wrap{
	width: 600px;
	margin: 40px auto;
	background-color: #333;
}

h1{
	width: 238px;
	margin-left: 50px;
	color:white;
	font-size: 30px;
	line-height: 100px;
}
#wrap>.nav{
	display: flex;
	width: 600px;
	height: 100px;
	
	background-color: #006699;
}
nav>ul{
	display: flex;
	width: 400px;
	justify-content: space-around;
}
nav>ul>li{
	color: white;
	padding-top: 50px;
}
nav>ul>li:nth-child(2) {
	color: yellow;
}


h2{
	color: #888;
	font-size: 25px;
	line-height: 80px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 15px;
	background-color: white;
}
section{	
	color: #888;
	margin-right: 5px;
	margin-left: 5px;
	padding: 0 7px 20px;
	font-size: 14px;
	line-height: 20px;
	background-color: white;
}
section>figure{
	display: block;
	float: right;
	 margin-top: 3px;
}
section>figure>img{
	width: 300px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px gray;
}

address{
	color: white;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 16px;
}